.textarea {
  width: 100%;
  resize: none;
  font-size: 21px;
  padding: 15px;
  /* border: none; */
  outline: 0;
}

.div {
  padding: 15px;
}

.img {
  width: 100%;
  border-radius: 15px;
}

.section {
  position: relative;
}

.section > button {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 999px;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 32px;
  left: 15px;
  position: absolute;
  top: 15px;
  width: 32px;
}

.container {
  display: flex;
  align-items: flex-start;
}

.spanImg {
  padding: 20px 0 0 20px;
}
